[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
pytest = "*"
pytest-asyncio = "*"
pylama = "*"
bandit = "*"
pre-commit = "*"
pytest-cov = "*"
debug = "*"
networkx = "*"
flake8 = "*"
rope = "*"
jedi = "*"
eradicate = "*"

[packages]
msgpack-python = "*"
pytest = "*"
daiquiri = "*"
cryptography = "*"
hoply = "==0.13.3"
plyvel = "*"
uvloop = "*"

[requires]
python_version = "3.7"
